.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalWindow {
  background: #e6f7ff; /* Світло-блакитний фон */
  border: 2px solid #80c1ff;
  border-radius: 8px;
  width: 320px;
  padding: 20px;
  text-align: center;
}

.modalWindow h2 {
  color: #0073e6; /* Синій заголовок */
  margin-bottom: 10px;
}

.modalWindow p {
  color: #333;
}

.modalCloseBtn {
  background-color: #0073e6;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalCloseBtn:hover {
  background-color: #005bb5;
}
